h4() קופות של #{translate(filter.getConstraintData('managing_body'))}
- if (debug)
    div(style="text-align:left;direction:ltr") #{fundsQuery}
ul(id = "link-list")
    each fund in funds
        - var escapedVal = rfc3986EncodeURIComponent(fund['fund_name']);
            li()
                a(class="table-link", onclick="addConstraint('fund_name','#{fund['fund_name']}')") #{fund['fund_name']}
            br()
