- if (filter.hasConstraint("managing_body"))
    h3(id = "link-list-title") עוד בפנסיה פתוחה
        h4() קופות של #{translate(filter.getConstraintData('managing_body'))}
            - if (debug)
                div(style="text-align:left;direction:ltr") #{fundsQuery}
            ul(id = "link-list")
                each fund in funds
                    - var escapedVal = escapeJSLink(fund['fund_name']); 
                        li()
                            a(class="table-link", onclick="gotoPage('fund_name', '#{escapedVal}')") #{fund['fund_name']}
                        br()
