- if (report_type == "managing_body"){
    h2() תיק השקעות
- }
- else if(report_type == "investment") {
    h2() השקעה
- }
- else if(report_type == "search") {
    h2() תוצאות חיפוש
- }

h1(id="report-title") !{decodeURIComponent(report_title) }
