extends layout

block headerbottom
	//- HEADER
	div(id="header-bottom")
		div(class="container")
			div()
				title
				div(id="breadcrumbs") שוק הפנסיה > פניקס > בנקים
				div(id="question")  אודות
block content

