extends layout_v2

block headerbottom


block content


        div(id="homepage-header" class="container-fluid")
            div(class="container")
                div(class="row")
                    div(class="col-xs-12")
                        div(class="jumbotron")
                            p()
                                | מעל 
                                span(id="market-size") 1,000,000,000,000 (טריליון) שקל 
                                | מנוהלים בקרנות הפנסיה, ביטוחי המנהלים וקופות הגמל.
                                br()
                                | איך ואיפה מנוהל הכסף שלנו?
            div(class="row")
                div(class="col-xs-12")
                    div(id="content-types")
                        ul(class="nav nav-tabs")
                            li(class="active")
                                a(href="#managing-bodies" data-toggle="tab") גופים מוסדיים
                            li(class="disabled")
                                //- a(href="#issuers" data-toggle="tab")מנפיקים
                                a() מנפיקים 
                                    span(class="soon") בקרוב

        div(id="homepage-content" class="container")
            script(src="treemap/d3.js")
            script(src="js/common_clientside.js")
            script(src="js/homepage_clientside.js")
            script(type='text/javascript', src='js/highcharts.js')

            div(class="row")
                div(class="col-xs-12")
                    div(id="homepage-content" class="tab-content")
                            div(class="tab-pane active" id="managing-bodies")
                            div(class="tab-pane" id="issuers")
                            div(id="homepage-links")
                                a(class="homepage-link" href="/portfolio#{filterWithoutGroup.toQueryString()}" ) תיק ההשקעות של כל שוק הפנסיה
                                span(class="seperator") |
                                a(class="homepage-link" data-target="#myModal",data-toggle="modal",data-remote="/investments#{filterWithoutGroup.toQueryString()}&group_by=managing_body") רשימת הגופים המוסדיים


        div(class="modal fade", id="myModal",tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            div(class="modal-dialog modal-lg")
                div(class="modal-content")


