extends layout
block headerbottom
	//- HEADER
	div(id="header-bottom") 
		div(id="header-bottom-title") עמוד ראשי

block content
	//- BODY
	div(class="container")
		h2 #{total.number} #{total.scale} &#8362;
		h2 מנוהלים בשוק הפנסיה
		//- The title and filter button
		div(id="how" class="row clearfix") 
			a(href="/entry?group_by=managing_body")איך הם מושקעים?
		
		div(id="about" class="row clearfix") 
			אודות פנסיה פתוחה			