doctype html
html
	head
		title= title
		script(type='text/javascript', src='/js/jquery-1.11.0.min.js')

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')  
		link(rel='stylesheet', href='/stylesheets/bootstrap-select.rtl.min.css')
		link(rel='stylesheet', href='/stylesheets/style_v2.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

		// Le HTML5 shim, for IE6-8 support of HTML5 elements 
		//if lt IE 9
		script(src='/js/html5.js')
		script(src='/js/respond.min.js')
		// Le fav and touch icons
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/bootstrap-select.min.js')
		script(type='text/javascript', src='/js/filter.js')
		script(type='text/javascript', src='/js/categories.js')
	body    
		nav(class="navbar navbar-default navbar-static-top" role="navigation")
			div(class="container")
				div(class="navbar-header navbar-right")
					a(class="navbar-brand" href="/")
						img(src="/img/pension-logo.png") 
						span() פנסיה פתוחה
				ul(class="nav navbar-nav navbar-left")
					li()
						a(id="about-link" href="/about") אודות
					li()
						button(id="feedback-button" onClick="location.href='mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה'" type="button" class="btn btn-default navbar-btn") שלח פידבק	
			block headerbottom

		block content

		footer()
			div(class="container")
				div(id="footer-text" class="pull-right") פנסיה פתוחה היא פרוייקט של 
					a(href="http://www.hasadna.org.il/") הסדנא לידע ציבורי
				ul(id="footer-links" class="pull-left") 
					li()
						a(href="/about") אודות
					li()
						a(href="mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה") שלחו פידבק
					li()
						a(href="/privacy") מדיניות פרטיות
								