// Styles for charts

// Highcharts for tables

#highcharts-0 {
  overflow: visible !important;
}

.highcharts-axis {
  display: none !important;
}

.highcharts-grid {
  display: none !important;
}

.sparkline {
  padding:10px !important;
  float:left;
  display: inline-block;
}

#portfolio-overview-diff .sparkline {
  margin-right: 15px;
}

.quarter-diff, .percentage {
  float: right;
  direction: ltr;
}

.relative-size, .percentage {
  width: 60px;
  margin-left: 3px;
}

.blue-text {
  color:#7FB2FF;
}

.yellow-text {
  color:#FFBE4C;
}

.gray-text {
  color:#999999;
}

.gray {
  color: #999999;
}

.segmentation {
  margin-bottom: 3em;
}

.help-spot {
  display: none;
  margin-right: 5px;
  color: #F0F0F0;
  font-size: 16px;
}

.help-spot:hover {
  color: #999;
}

// D3 for the homepage

.node:first-child {
  background: none !important;
  border: 0;
}

.node {
  font-size: 1em;
  color: white;
  padding: 10px;
  text-align: right;
  line-height: 1.5em;
  border: 3px solid  white;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.node .title {
  font-size: 1.3125em; /** 21px **/
}