.heading() {
  font-family: 'almoni-tzar';
  font-weight: bold;
  .alt() {
    font-family: @font-stack;
    font-weight: bold;
  }
}

.btn-icon(@unicode, @margin-left: 6px) {
  &:before {
    font-family: @icon-font-name;
    font-size: inherit;
    content: "\@{unicode}";
    margin-left: @margin-left;
  }
}