.heading() {
  font-family: 'almoni-tzar';
  font-weight: bold;
  color: @gray;
  .alt() {
    font-family: @font-stack;
    font-weight: bold;
    color: @gray-darker;
  }
}

.icn(@unicode) {
  content: "\@{unicode}";
  font-family: @icon-font-name;
  font-size: inherit;
}

.btn-icn(@unicode, @margin-left: 6px) {
  &:before {
    .icn(@unicode);
    margin-left: @margin-left;
  }
}

.trend-indicator(@unicode, @margin-right: 6px) {
  &:after {
    .icn(@unicode);
    margin-right: @margin-right;
    float: left;
  }
}

// For switching an element to LTR in an RTL parent
.lrm-rlm() {
  &:before {
    content: "\200E"; /* left-right mark */
  }
  &:after {
    content: "\200F"; /* right-left mark */
  }
}

.indicator(@padding-right, @indicator-width, @color:@brand-primary) {
  padding-right: @padding-right;
  &:hover,
  &:focus {
    border-right: @indicator-width solid @color;
    padding-right: @padding-right - @indicator-width;
    text-decoration: none;
  }
}

.no-nav-bg {
  &.active > a,
  & > a:hover,
  & > a:focus {
    background-color: inherit;
  }
}
