// Styles for the 'more' component

#link-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0;
  margin-bottom: @triple-margin;
  &-title {
    margin: @margin !important;
  }
  li {
    display: inline-block;
    margin-bottom: @half-margin;
  } 
}