#link-list-title {
  margin: 1.14285714285714em 0 !important; /* 24px */
}


#link-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  padding: 0;
  margin-bottom: 4.5em; /* 72px */
}

#link-list li {
  display: inline-block;
}



.list-all {
  background-color: @bg-color !important;
}

.list-all a,
.list-all a:hover {
  color: @brand-primary;
  line-height: 2em;
}

li {
  margin-bottom: 0.75em;
}