#btn-bar {
  width: 100%;
  margin-bottom: 1.5em;
}

#btn-bar button {
  height: 3em;
}

.btn-group{
  margin: 0 !important;
}

#select-quarter + div {
  width: 180px;
}

#quarterSelection {
  font-size: 30px;
  line-height: 45px;
}

#download {
  float: left;
}

#portfolio-overview-diff {
  display: inline-block;
}