html {
  margin: 0;
}


body {
  font-family: @font-stack;
  margin: 0;
  padding: 0;
  padding-bottom: @footer-height; // making room for footer
  position: relative;
}

.container {
  width: 970px !important;
}

main {
  margin-bottom: @triple-line;
}

a {
  &:hover {
    cursor: pointer;
  }
  &:visited {
    color: @link-hover-color;
  }
}

.btn {
  border-color: @gray-light;
  i {
    margin-left: 3px;
  }
}