.tt-dropdown-menu {
  margin-top: -4px;
  border-radius: 0;
  padding: 0 !important;
  h6 {
    border-bottom: 1px solid @gray-lighter;
    padding: 5px 10px;
    margin-bottom: 3px;
  }
  .tt-suggestions {
    margin-bottom: 10px;
    .tt-suggestion {
      color: @link-color;
      padding: 5px 10px;
      p {
        line-height: @three-quarters-line;
      }
      &.tt-cursor {
        color: white;
        background-color: @brand-primary;
      }
    }
  }
  .tt-dataset-instrument-search {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid @gray-light;
    background-color: @gray-lightest;
    .tt-suggestions {
      margin-bottom: 0;
      .tt-suggestion {
        p {
          color: @gray-dark;
        }
        &.tt-cursor {
          background-color: @gray-lighter;
        }
      }
    }
  }
}