// Styles for tables

// Note: all chart styles are in charts.less


.table {
  margin-bottom: @double-line;
  &-striped {
    > tbody > tr:nth-child(odd) {
      background-color: @table-bg;
    }
    > tbody > tr:nth-child(even) {
      background-color: @table-bg-accent;
    }
  }
  > colgroup {
    > col {
      &:nth-child(1) {
        width: 30%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 25%;
      }
    }
  }
  > thead {
    > tr {
      > th {
        line-height: 1;
        font-weight: normal;
        background-color: @th-bg-color;
        vertical-align: top;
        > small {
          color: @gray;
          &:before {
            white-space:pre;
            content: "\A"; /* line break */
          }
        }
      }
    }  
  }  
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
        border: none;
        a {
          .text-overflow();
        }
        & > span {
          display: inline-block;
        }
      }
    }
  }
  > tfoot {
    .list-all {
      background-color: @bg-color !important;
      a,
      a:hover {
        color: @brand-primary;
        line-height: 2em;
      }
    }
  }
  th,
  tbody,
  tfoot {
    border: 1px solid @border-color !important;
  }
  thead > tr > th,
  tbody > tr > td {
    height: @line-and-a-half;
  }
}

.change {
  overflow: visible !important;
}