@font-stack:              Alef Hebrew, Helvetica Neue, Helvetica, Arial, sans-serif;

@font-size-base:          16px;
@baseline-line-height:    @font-size-base * 1.5; // 24px

@footer-height:           2 * @baseline-line-height;

@brand-primary:           hsl(216, 53%, 49%);
@brand-secondary:         hsl(38, 100%, 50%);
@border-color:            hsl(0, 0%, 87%);
@bg-color:                hsl(0, 0%, 100%);
@dark-bg-color:           hsl(0, 3%, 93%);