@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  direction: rtl;
  background-color: #F4F4F4;
}

a,
a:hover,
a:active,
a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
body{

}



/* HEADER */
#header{
	height:140px;
}

#header-top{
	background-color:#0855C7;
	border-bottom-style: solid;
	border-bottom-color: #053B83;
	padding: 0 20px 0 20px;
	height:50%;
}

#header-logo{
	float:right;
	height:45px;
	width:auto;
	margin: 10px 0 0 10px;
}

#header-title{
	float:right;
	color:#FAF9F3;
	font-size:30px;
	font-weight:900;
	line-height:65px;
}

#header-feedback{
	height:30px;
	background-color:#FFFFFF;
	float:left;
	color:#10110B;
	font-size:18px;
	font-weight:600;
	text-decoration:none;
	line-height:25px;
	position: relative;
	top:20px;
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 0 20px 0 50px;
	padding: 0 10px 0 10px;
}

#header-about{
	float:left;
	color:#FAF9F3;
	font-size:18px;
	font-weight:600;
	text-decoration:none;
	line-height:65px;
	margin: 0 20px 0 20px;
}

#header-bottom{
	background-color:#FFFFFF;
	height:50%;
	padding: 5px 20px 0 20px;
}


#header-bottom #breadcrumbs{
	text-decoration: underline;
}


#header-bottom #question{
	font-size: 30px;
}


/*RIGHT COLUMN*/

#right-column{
	position: relative;
	top: 50px;
}

#right-column #info{
	font-size: 50px;
}

.quarter-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	top: 0px;
	right: 0px;
	height: 250px;
	background-color: #0855C7;
}

#info #total{
	font-weight:bold;
	color: #FFA202;
}

/*LEFT COLUMN*/
#left-column{
	position: relative;
	top: 50px;
}

#group-by{
	position: relative;
	float:right;
	font-size:19px;
	top:3px;
}




/* ENTRY */

.entry-box{
	border-bottom:2px;
	border-bottom-color:#BEBEBE;
	border-bottom-style:solid;
	height:75px;
	margin-bottom:10px;
	padding-top:5px;
	width:100%;
	background-color: white;
}


.entry-box .entry-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	height: 15px;
	background-color: #0855C7;
	z-index: 1;
}

.entry-bar-empty{
	background-color: #E6EEF9;
	z-index: -1;
}

.entry-box-link{
	cursor:pointer;
}

.entry-box-title,
.entry-box-title:hover,
.entry-box-title:active,
.entry-box-title:link{
	color:black;
	font-size: 22px;
	font-weight: bold;
	padding-right: 12px;
}

.entry-box-value,
.entry-box-value:hover,
.entry-box-value:active,
.entry-box-value:link{
	text-decoration: none;
	color:black;
	font-size: 16px;
	padding-right: 12px;
}

/* ABOUT */
#header-bottom-title{
	margin-top: 8px;
	font-size: 30px;
}

/* GENERAL */
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/* QUERY BUILDER */
#qb-container{
	height:600px;
	width: 600px;
	background-color:grey;
	float:right;
}

.qb-category{
	color: white;
	border-width:1px;
	border-style: solid;
	border-color: black;
	padding: 5px 10px 5px 10px;
	width: 120px;
	float: right;
	text-align: center;
}

#csv{
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: #053B83;
	background-color: #0855C7;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	color: #FFFFFF;
}

#csv-comment{
	font-size: 16px;
	font-weight: normal;
}
#csv-icon{
	float: left;
	padding-right: 40px;
	padding-top: 10px;
}


#play-icon{
	float: left;
	font-size: 15px;
	color: #C1BFBF;
	padding-right: 20px;
	padding-top: 15px;
}

.entry-box:hover #play-icon{
	color: black;
}

.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}