@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  direction: rtl;
}
.entry-total {
	padding: 5px;
	background-color: lightgrey;
	font-size: 1.3em;
	font-weight: bold;
}

.title-box .inline-filter-button {
	margin-top: 10px;
	margin-right: 20px;	
}

.changes-box .inline-filter-select {
	margin-top: 5px;
	margin-right: 30px;
}
.element-box .title {
	font-weight: bold;
	font-size: 1.1em;
}

.bargraph .bargraph-entry {
	width: 100%;
	font-family: 'Alef Regular', 'Alef'; /* Labels are in Alef */
}

.bargraph .bargraph-entry a.bargraph-entry-name {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	padding-top: 20px;
	height: 40px;
	padding-left: 5px;
	border-left: 1px solid black;
	text-align: left;
	text-decoration: underline;
	color: black;
	
}

.bargraph .bargraph-entry:first-child .bargraph-entry-name {
	padding-top: 0;
	height: 20px;
}

.bargraph .bargraph-entry .bargraph-entry-value {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	height: 20px;
	text-align: right;
	padding-right: 5px;
}



body{

}

#entry #info{
	font-size: 50px;
}
.entry-box{
	border:1px;
	border-color:black;
	border-style:solid;
	height:50px;
	margin-bottom:10px;
	padding-top:5px;
	padding-right:12px;
	width:100%;
}

.entry-box a{color:black;text-decoration:none}
.entry-box a:link{color:black;text-decoration:none}
.entry-box a:visited{color:black;text-decoration:none}
.entry-box a:active{color:black;text-decoration:none}
.entry-box a:hover{color:black;text-decoration:none }

.entry-box .entry-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	top: -46px;
	right: -12px;
	height: 50px;
	background-color: lightgrey;
}