@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

}
@font-face{
	font-family:'almoni-tzar';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('../fonts/almoni-tzar-aaa-400.eot?'); 
	src: url('../fonts/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-tzar-aaa-400.woff?') format('woff'), 
		url('../fonts/almoni-tzar-aaa-400.ttf?') format('truetype');
}

@font-face{
			font-family:'almoni-tzar';
			font-weight:700; /*(bold)*/
			font-style: normal;
			src: url('../fonts/almoni-tzar-aaa-700.eot'); 
			src: url('../fonts/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/almoni-tzar-aaa-700.ttf') format('truetype'), 
				url('../fonts/almoni-tzar-aaa-700.woff') format('woff'), 
				url('../fonts/almoni-tzar-aaa-700.svg#almoni-tzar-bold') format('svg');
}



*{
	vertical-align: middle;
}

html {
  margin: 0;
}
  

body {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  direction: rtl;
	font-size: 16px;
	line-height: 1.5em;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.btn {
	border: 1px solid #EEE;
	border-radius: 0;
	padding: 10px;
	font-family: "Alef Hebrew";
	margin: 0;
	width: 100%;
	height: 46px; /* could not convert into ems for some reason! Should be 2ems, equivalent of 48px including borders */
	font-size: 1em;
}



/* HEADER */


.navbar{
	color: #FFFFFF !important;
  background-color: #0855C7;
	height: 3em;
  line-height: 3em;
  direction: rtl !important;
  border: none !important;
  border-radius: 0;
}

nav .container {
  height: 100%;
  padding: 0;
}

.navbar .nav {
    float: right;
}

.navbar .nav li{
  float: right;
  padding: 0;
  line-height: 3em;
  height: 100%;
}

.navbar ul, .navbar-header, .navbar-brand {
  padding: 0 !important;
}

.navbar ul {
  height: 100%;
}

.navbar-brand{
	float: right;
  color: white !important;
  font-size:1.5em;
	font-weight:700;
	font-family:"almoni-tzar";
  line-height: 2em;
}

.navbar-brand img{
  height: 28px;
	width: auto;
  margin-left: 0.375em;
}

#about-link {
  color:#FFFFFF !important;
	font-size:1.125em;
	font-weight:600;
}

#feedback-button {
  height: 2em;
	color: #FFFFFF !important;
  font-size: 1.125em;
	font-weight: 600;
	border: 1px solid white;
	border-radius: 5px;
  background: none;
  padding: 0 10px !important;
}

#portfolio-header{
	background-color:#FFFFFF;
  padding: 0;
  margin-bottom: 1.5em;
}


.breadcrumb{
	direction: ltr;
	text-align: right;
	padding: 0px;
	background-color: white;
	margin: 0px;
}

.breadcrumb a{
	text-decoration: none;
	cursor:pointer;
	color: #0855C7;
}

.breadcrumb>li{
	float: right;
}

.breadcrumb>li+li:after {
	content: "/\00a0";
	padding: 0 5px;
	color: #CCC;
}


.breadcrumb>li+li:before {
	content: none !important;
	padding: 0 !important;
}

#btn-bar{
	line-height: 4.5em;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	width: 100%;
}

.btn-group{
	margin: 0 !important;
}

#quarterSelection{
	font-size: 30px;
	line-height: 45px;
}

#download{
	float: left;
}



/*RIGHT COLUMN*/

#right-column{
	position: relative;
	background-color: white;
	padding-right: 0px;
}

#right-column #info{
	font-size: 50px;
}

.quarter-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	top: 0px;
	right: 0px;
	height: 250px;
	background-color: #0855C7;
}

#info #total{
	font-weight:bold;
	color: #FFA202;
	font-family:'almoni-tzar';
}

.table-title{
	margin: 0.571428571428571em  0 !important; /* 12px */
}


.table-link{
	cursor:pointer;
	text-decoration: none;
	direction: ltr;
	text-align: right;
	color: #0855C7;
}


/* ABOUT */
#header-bottom-title{
	margin-top: 8px;
	font-size: 30px;
}

/* GENERAL */
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/* BUTTON BAR */
.dropdown-menu li span:before,
.filter-option:before{
	content: "\f073";
	font-family: "FontAwesome";
	padding-left: 3px;
}

#btn-bar .fa-file-text-o{
	padding-left: 3px;	
}


/* HIGHCHARTS GRAPH */

#highcharts-0{
	overflow: visible !important;
}

.highcharts-axis{
	display: none !important;
}

.highcharts-grid{
	display: none !important;
}

.sparkline{
	padding:10px !important;
	float:right;
}

.quarter-diff .caret{
	position: relative;
	bottom: 15px;
}

.quarter-diff{
	padding:10px !important;
	float:right;
	height:10px;
	position:relative;
}

.quarter-diff .percentage{
	padding:10px !important;
	float:right;
	position:relative;
	bottom:25px;
	direction: ltr;
}


.blue-text{
	color:#7FB2FF;
}

.yellow-text{
	color:#FFBE4C;
}

.gray{
	color: #999999;
}

.segmentation{
  	margin-bottom: 3em;
}
  
.table{
  	border-collapse: collapse !important;
}

.table tbody{
	border: 1px solid #E4E4E4 !important;
}

th, tr, td{
	line-height: 3em;
}

th, td{
	padding: 0 0.625em !important; /* 10px */
	vertical-align: middle !important;
}

th{
	font-weight: normal;
	background-color: #F2F2F2;
	border-collapse: collapse !important;
	border: 1px solid #E4E4E4 !important;
	vertical-align: baseline;
}

.unit{
	color: #999999;
	vertical-align: baseline;
}

td{
	border-top: none !important;
}

th>div, td>div, th>span, td>span{
	line-height: 3em;
}

th>span, td>span{
	width: 25%;
	display: inline-block;
}

td>a{
	color: #0855C7;
}

#bar{
	height: 1.5em;
	background-color:#7FB2FF;
	display: inline-block;
	min-width: 1px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th{
	background-color: #F8F8F8;
}

.table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
	background-color: white;
}

.table thead>tr>th{
	border: 1px;
	border-style: solid;
	border-color: #E4E4E4;
}

h1 { 
	font-size: 2.25em; /* 36px */
	line-height: 1.3333333333em; /* 48px */
	font-family: "Alef Hebrew";font-weight: bold;
  margin: 0 0 0.6666666667em 0 !important; /* 24px */
}

h2 { 
	font-size: 1.5em; /* 24px */
	line-height: 1em; /* 24px */
	font-family: "almoni-tzar";
	color: #999999; 
	margin: 0 !important;
}

h3 { 
	font-size: 1.3125em; /* 21px */
	line-height: 1.14285714285714em; /* 24px */
	font-family: "almoni-tzar";
	color: #999999; 
	margin: 0 !important;
}

h4 { 
	font-size: 1em;
	line-height: 1.5em;
	font-family: "almoni-tzar";
	color: #999999;
}

h5 { 
	font-size: 14px;
	line-height: 24px;
	font-family: "Alef Hebrew";
}

#link-list-title {
  margin: 1.14285714285714em 0 !important; /* 24px */
}
  

#link-list {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
  padding: 0;
}

#link-list li {
	display: inline-block;
}


footer{
	font-size: 14px;
	height: 48px;
  line-height: 48px;
	background-color: #333333;
	color:white;
}

#footer-feedback{
	padding: 0px 10px 0px 10px;
}

footer .container{
  height: 100%;
  padding: 0;
}

#footer-text{
  height: 100%;
}

#footer-links{
  padding: 0;
  height: 100%;
  margin: 0;
}

footer li{
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  height: 100%;
}

footer a {
  vertical-align: baseline;
  text-decoration: underline;
}

.listAll{
	background-color: white !important;
}

.listAll a,
.listAll a:hover{
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
	direction: ltr;
	text-align: right;
	color: #0855C7;
	line-height: 2em;
}

li{
	margin-bottom: 0.75em;
} 

#aggregate-data-panel{
	width: 100%;
	margin-bottom: 1.5em;
  border: 1px solid #E4E4E4;
	border-collapse: collapse !important;
}

#aggregate-data-panel td{
	border: 1px solid #E4E4E4;
	border-collapse: collapse !important;
	width: 33%;
  padding: 0.75em 0 !important;
  text-align: center;
}

.datum { 
	font-size: 2.25em; /* 36px */
	line-height: 1.33333333333333em; /* 48px */
	font-family: "Alef Hebrew";
	margin: 0 !important;
	width: auto !important;
}

.modal-dialog{
	margin-right:4%
}

#investments-header{
	margin-top: 1em;
	height: 2em;
	margin-bottom: 0.5em;
}

#investments-header-title{
	float: right;
}

#investments-header-button{
	font-family: FontAwesome;
	float: left;
    font-size: 1.5em;
}


#investments-header-button:hover{
	cursor: pointer;
}


