@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

}
@font-face{
	font-family:'almoni-tzar';
	font-weight:400; /*(regular)*/
	font-style: normal;
	src: url('../fonts/almoni-tzar-aaa-400.eot?'); 
	src: url('../fonts/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/almoni-tzar-aaa-400.woff?') format('woff'), 
		url('../fonts/almoni-tzar-aaa-400.ttf?') format('truetype');
}

@font-face{
			font-family:'almoni-tzar';
			font-weight:700; /*(bold)*/
			font-style: normal;
			src: url('../fonts/almoni-tzar-aaa-700.eot'); 
			src: url('../fonts/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/almoni-tzar-aaa-700.ttf') format('truetype'), 
				url('../fonts/almoni-tzar-aaa-700.woff') format('woff'), 
				url('../fonts/almoni-tzar-aaa-700.svg#almoni-tzar-bold') format('svg');
}



*{
	vertical-align: middle;
}

body {
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  direction: rtl;
	font-size: 16px;
	line-height: 1.5em;
}

a,
a:hover,
a:active,
a:visited {
  color:inherit;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.btn {
	border: 1px solid #EEE;
	border-radius: 0;
	padding: 10px;
	font-family: "Alef Hebrew";
	margin: 0;
	width: 100%;
	height: 46px; /** could not convert into ems for some reason! Should be 2ems, equivalent of 48px including borders **/
	font-size: 1em;
}



/* HEADER */


.navbar{
	color: #FFFFFF !important;
  background-color: #0855C7;
	height: 3em;
  line-height: 3em;
  direction: rtl !important;
  border: none !important;
  border-radius: 0;
}

nav .container {
  height: 100%;
  padding: 0;
}

.navbar .nav {
    float: right;
}

.navbar .nav li{
  float: right;
  padding: 0;
  line-height: 3em;
  height: 100%;
}

.navbar ul, .navbar-header, .navbar-brand {
  padding: 0 !important;
}

.navbar ul {
  height: 100%;
}

.navbar-brand{
	float: right;
  color: white !important;
  font-size:1.5em;
	font-weight:700;
	font-family:"almoni-tzar";
  line-height: 2em;
}

.navbar-brand img{
  height: 28px;
	width: auto;
  margin-left: 0.375em;
}

#about-link {
  color:#FFFFFF !important;
	font-size:1.125em;
	font-weight:600;
}

#feedback-button {
  height: 2em;
	color: #FFFFFF !important;
  font-size: 1.125em;
	font-weight: 600;
	border: 1px solid white;
	border-radius: 5px;
  background: none;
  padding: 0 10px !important;
}

#header-bottom{
	background-color:#FFFFFF;
	height:80px;
	padding: 15px 20px 0 20px;
}


#breadcrumbs{
	direction: ltr;

}
#breadcrumbs a{
	text-decoration: none;
	cursor:pointer;
	color: #0855C7;
}

#breadcrumbs span{
	float: right;
}

#breadcrumbs_seperator{
	padding: 0 5px 0 5px;
	float: right;
}

#report-type{
	font-size: 24px;
	line-height: 30px;
	font-family:'almoni-tzar';
	color: #999999;
}

#btn-bar{
	line-height: 4.5em;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	width: 100%;
	margin-bottom: 1.5em;
}

.btn-group{
	margin: 0 !important;
}

#quarterSelection{
	font-size: 30px;
	line-height: 45px;
	float:left;
}

#download{
	float: left;
}



/*RIGHT COLUMN*/

#right-column{
	position: relative;
	background-color: white;
	padding-right: 0px;
}

#right-column #info{
	font-size: 50px;
}

.quarter-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	top: 0px;
	right: 0px;
	height: 250px;
	background-color: #0855C7;
}

#info #total{
	font-weight:bold;
	color: #FFA202;
	font-family:'almoni-tzar';
}

.table-title{
	margin: 0 0 0.571428571428571em  0 !important; /** 12px **/
}

/*LEFT COLUMN*/
#left-column{
	position: relative;
	padding-right: 0px;
}

#group-by{
	position: relative;
	float:right;
	font-size:19px;
	top:3px;
}




/* ENTRY */

.entry-box{
	border-width:1px 1px 0 1px;
	border-color:#EFEFEF;
	border-style:solid;
	height:48px;
	padding-top:12px;
	width:100%;
}


.entry-box:last-child{
	border-width:1px 1px 1px 1px;
	margin-bottom: 15px;
}

.entry-box .entry-bar {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: -1;
	height: 15px;
	background-color: #0855C7;
	z-index: 1;
}

.entry-bar-empty{
	background-color: #E6EEF9;
	z-index: -1;
}

.table-link{
	cursor:pointer;
	text-decoration: none;
	direction: ltr;
	text-align: right;
	color: #0855C7;
}

.entry-box-title,
.entry-box-title:hover,
.entry-box-title:active,
.entry-box-title:link{
	color:#686868;
	font-size: 16px;
	font-weight: normal;
	padding-right: 12px;
}

.entry-box-value,
.entry-box-value:hover,
.entry-box-value:active,
.entry-box-value:link{
	text-decoration: none;
	color:black;
	font-size: 16px;
	padding-right: 12px;
	line-height: 10px;
	margin-bottom: 15px;
}

/* ABOUT */
#header-bottom-title{
	margin-top: 8px;
	font-size: 30px;
}

/* GENERAL */
.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

/* QUERY BUILDER */
#qb-container{
	height:600px;
	width: 600px;
	background-color:grey;
	float:right;
}

.qb-category{
	color: white;
	border-width:1px;
	border-style: solid;
	border-color: black;
	padding: 5px 10px 5px 10px;
	width: 120px;
	float: right;
	text-align: center;
}

#downloadDataButton {
	text-decoration: none;e
}

#downloadDataButton{
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: #053B83;
	background-color: #0855C7;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	color: #FFFFFF;
}

#csv-comment{
	font-size: 16px;
	font-weight: normal;
}
#csv-icon{
	float: left;
	padding-right: 40px;
	padding-top: 10px;
}


#play-icon{
	float: left;
	font-size: 15px;
	color: #C1BFBF;
	padding-right: 20px;
	padding-top: 15px;
}

.entry-box:hover #play-icon{
	color: black;
}

.icon-flipped {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}

/* HIGHCHARTS GRAPH */

#highcharts-0{
	overflow: visible !important;
}

.highcharts-axis{
	display: none !important;
}


.gray{
	color: #999999;
}

.table{
	margin-bottom: 1.5em;
}

th, tr, td{
	line-height: 3em;
}

th, td{
	padding: 0 0.625em !important; /** 10px **/
	vertical-align: middle !important;
}

th{
	font-weight: normal;
	background-color: #F2F2F2;
	border-collapse: collapse !important;
	border: 1px solid #E4E4E4 !important;
	vertical-align: baseline;
}

.unit{
	color: #999999;
	vertical-align: baseline;
}

td{
	border-top: none !important;
}

th>div, td>div, th>span, td>span{
	line-height: 3em;
}

th>span, td>span{
	width: 25%;
	display: inline-block;
}

td>a{
	color: #0855C7;
}

#bar{
	height: 1.5em;
	background-color:#7FB2FF;
	display: inline-block;
	min-width: 1px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th{
	background-color: #F8F8F8;
}

.table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
	background-color: white;
}

.table thead>tr>th{
	border: 1px;
	border-style: solid;
	border-color: #E4E4E4;
}

.title1 { 
	font-size: 36px;
	line-height: 24px;
	font-family: "Alef Hebrew";font-weight: bold;
}

h2 { 
	font-size: 2.25em; /** 36px **/
	line-height: 1.33333333333333em; /** 48px **/
	font-family: "Alef Hebrew";
	margin: 0 !important;
}

.title3 { 
	font-size: 21px;
	line-height: 24px;
	font-family: "Alef Hebrew";
	color: #999999;
}

h4 { 
	font-size: 1.3125em; /** 21px **/
	line-height: 1.14285714285714em; /** 24px **/
	font-family: "almoni-tzar";
	color: #999999; 
	margin: 0 !important;
}

.title5 { 
	font-size: 16px;
	line-height: 24px;
	font-family: "Alef Hebrew";
}

.title6 { 
	font-size: 14px;
	line-height: 24px;
	font-family: "Alef Hebrew";
}


#linksList {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

#linksList li {
	display: inline-block;
}


#footer{
	font-size: 14px;
	position: relative;
	top:30px;
	height: 45px;
	background-color:#333333;
	color:white;

}

.footer-text{
	position: relative;
	top:15px;
}

#footer-feedback{
	padding: 0px 10px 0px 10px;
}

.listAll{
	background-color: white !important;
}

.listAll a,
.listAll a:hover{
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
	direction: ltr;
	text-align: right;
	color: #0855C7;
	line-height: 2em;
}

li{
	margin-bottom: 0.75em;
} 

#aggregate_data_panel{
	width: 100%;
	margin-bottom: 1.5em;
}

#aggregate_data_panel td{
	border-width: 0 1px;
	border-color: #E4E4E4;
	border-style: solid;
	border-collapse: collapse !important;
	width: 33%;
}

.modal-dialog{
	margin-right:4%
}

#investments-header{
	height: 3em;
}

#investments-header-title{
	padding-top: 4px;
	float: right;
}

#investments-header-button{
	padding-top:26px;
	font-family: FontAwesome;
	float: left;
    font-size: 1.5em;

}


#investments-header-button:hover{
	cursor: pointer;
}


