// Styles for alerts (still not deployed to production)

.alert {
  vertical-align: baseline;
  margin-bottom: @line;
  & > strong,
  & > a {
    vertical-align: baseline;
    border-radius: 0; 
  }
}

.alert-warning {
  display: none;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}