@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

.node {
  border: solid 1px white;
  font: 10px "Alef Hebrew";
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}