<div class="col-xs-12">
  <div class="btn-toolbar">
    <select id="select-quarter">
      <option value="{&quot;quarter&quot;:&quot;1&quot;,&quot;year&quot;:&quot;2014&quot;,&quot;str&quot;:&quot;2014_1&quot;}" selected="selected">רבעון 1, 2014</option>
      <option value="{&quot;quarter&quot;:&quot;4&quot;,&quot;year&quot;:&quot;2013&quot;,&quot;str&quot;:&quot;2013_4&quot;}">רבעון 4, 2013</option>
      <option value="{&quot;quarter&quot;:&quot;3&quot;,&quot;year&quot;:&quot;2013&quot;,&quot;str&quot;:&quot;2013_3&quot;}">רבעון 3, 2013</option>
      <option value="{&quot;quarter&quot;:&quot;2&quot;,&quot;year&quot;:&quot;2013&quot;,&quot;str&quot;:&quot;2013_2&quot;}">רבעון 2, 2013</option>
    </select>
    <button id="download" class="btn btn-default" onClick="location.href = '/csv#{filter.toQueryString()}'">
    הורד נתונים גולמיים
    </button>
  </div>
  <div id="header">
    <table id="portfolio-overview" class="table">
      <tbody>
        <tr>
          <td>
            <h3> גודל התיק </h3>
            <span class="datum">93.3 מיליארד שקל</span>
          </td>
          <td>
            <h3> חלק משוק הפנסיה </h3>
            <span class="datum percentage">10.9%</span>
          </td>
          <td>
            <h3> שינוי ב-4 רבעונים </h3>
            <div id="portfolio-overview-diff">
              <div class="trend increase">
                <span class="datum percentage">0.3%</span>
              </div>
              <div class="sparkline graph" data-sparkline="1, 1, 1, 1">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>