<div class="container">
  <div id="footer-text" class="pull-right">פנסיה פתוחה היא פרוייקט של <a href="http://www.hasadna.org.il/">הסדנא לידע ציבורי</a></div>
  <ul id="footer-links" class="pull-left">
     <li><a href="/#/about">אודות</a></li>
     <li><a href="mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה">שלחו פידבק</a></li>
     <li><a href="/#/privacy">מדיניות פרטיות</a></li>
  </ul>
</div>
