<nav role="navigation" class="navbar navbar-default navbar-static-top">
   <div class="container">
      <div class="navbar-header navbar-right col-sm-3"><a href="/#/" class="navbar-brand"><img src="/images/pension-logo.png"><span>פנסיה פתוחה</span></a></div>
      <div class="navbar-header navbar-right">
         <form role="search" class="navbar-form navbar-left">
            <div id="rtl-support" class="form-group">
               <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: rtl;">
                  <input id="nav-search" type="text" autocomplete="off" dir="rtl" placeholder="חיפוש" class="form-control typeahead tt-input" spellcheck="false" style="position: relative; vertical-align: top;">
                  <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: 'Alef Hebrew', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                  <span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: auto; right: 0px;">
                     <div class="tt-dataset-managing_body"></div>
                     <div class="tt-dataset-fund_name"></div>
                     <div class="tt-dataset-instrument_name"></div>
                     <div class="tt-dataset-instrument-search"></div>
                  </span>
               </span>
            </div>
         </form>
      </div>
      <ul class="nav navbar-nav navbar-left">
         <li><a href="/#/about">אודות</a></li>
         <li><button onclick="location.href='mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה'" type="button" class="btn btn-default navbar-btn">שלח פידבק </button></li>
      </ul>
   </div>
</nav>