<div class="row">
  <div class="col-xs-12">
    <div class="tab-content">
      <div id="managing-bodies" class="tab-pane active"></div>
      <div id="issuers" class="tab-pane"></div>
      <div id="homepage-links"><a href="/" class="homepage-link">תיק ההשקעות של כל שוק הפנסיה</a><span class="seperator">|</span><a id="modal-anchor" data-target="#myModal" data-toggle="modal" data-remote="/" class="homepage-link">רשימת הגופים המוסדיים</a></div>
    </div>
  </div>
</div>
