<div class="row">
  <div class="col-xs-12">
    <div class="tab-content">
		<iframe
			width="100%"
			height="1000"
			src="https://app.powerbi.com/view?r=eyJrIjoiNjNhMTk1ZGQtMGU4ZS00MjQ5LWI5YWQtNDQ5NWRiZmE1YTRmIiwidCI6ImU2MjgyMmM4LTljMzAtNGUyNC05NWQ2LWEwMjNjMjY1MjA4MSIsImMiOjl9"
			frameborder="0"
			allowFullScreen="true">
		</iframe>
    </div>

	  <div id="homepage-links">
		  <p>השימוש באתר באתר זה אינו מהווה ייעוץ/שיווק השקעות ו/או ייעוץ/שיווק פנסיוני ו/או תחליף לייעוץ/שיווק
			  כאמור המתחשב בנתונים ובצרכים המיוחדים של כל אדם.</p>
	  </div>
  </div>
</div>
