<div id="homepage-header" class="container-fluid"></div>
<div id="homepage-content" class="container"></div>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade"></div>