<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="jumbotron">

			 <p>מתשמש יקר,</p>
			 <p style="font-size: 1.25em;">
				 בימים אלו עומל צוות פנסיה פתוחה על גרסא משודרגת לאתר.
				 פנסיה פתוחה 2.0 תכיל נתונים מעודכנים אודות תיקי ההשקעות של הגופים המוסדיים וכן כלים מתקדמים לניתוח המידע.
			 </p>
			 <p style="font-size: 1.25em;">
				 הנתונים המעודכנים אינם מוזנים כרגע לאתר, אך קיימים כבר בידינו וניתן במקרים דחופים לקבלם בפניה ישירה לסדנא לידע ציבורי.
			 </p>

			 <p style="font-size: 1.25em;">
				 תודה על אורך הרוח - נתראה בקרוב!
			 </p>
		 </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div id="content-types">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#managing-bodies" data-toggle="tab">גופים מוסדיים</a></li>
			   <li class="disabled"><a>מנפיקים <span class="soon">בקרוב</span></a></li>
				<!-- <li class="disabled"><a href="#issuers" data-toggle="tab">מנפיקים <span class="soon">בקרוב</span></a></li> -->
            </ul>
         </div>
      </div>
   </div>
</div>
