<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="jumbotron">

			 <p style="font-size: 1.25em;">
				 פנסיה פתוחה, מבית הסדנא לידע ציבורי, מפתחת כלי FININT (Financial Intelligence) מבוססי Power BI
				 לניתוח תיקי ההשקעות באפיקי החיסכון לטווח בינוני ארוך (פנסיה, גמל, ביטוח מנהלים).
			 </p>

			 <p style="font-size: 1.25em;">הכלים באתר זה מונגשים לתועלת הציבור בלבד.</p>
		 </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div id="content-types">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#managing-bodies" data-toggle="tab">ניתוח ביצועים</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
