<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <div class="jumbotron">

			 <p style="font-size: 1.25em;">
				 פנסיה פתוחה, מבית הסדנא לידע ציבורי, מפתחת כלי FININT (Financial Intelligence) מבוססי Power BI
				 לניתוח תיקי ההשקעות באפיקי החיסכון לטווח בינוני ארוך (פנסיה, גמל, ביטוח מנהלים).
			 </p>

			 <p style="font-size: 1.25em;">הכלים באתר זה מונגשים לתועלת הציבור בלבד.</p>
		 </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div id="content-types">
			 <ul class="nav nav-tabs" id="myTab" role="tablist">
				 <li class="nav-item active">
					 <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">החזקות במניות</a>
				 </li>

				 <li class="nav-item">
					 <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">ניתוח ביצועים</a>
				 </li>
			 </ul>
         </div>
      </div>
   </div>
</div>
