<div id="groups" class="groups col-xs-12">
  <div class="segmentation">
     <h3 class="table-title">חלוקה לפי גוף מוסדי<i class="help-spot fa fa-question-circle"></i></h3>
     <table class="group-table table table-striped">
        <thead>
           <tr>
              <th>גוף מוסדי</th>
              <th>אחזקות מסך ערך מונפק <small>באחוזים</small></th>
              <th>שינוי באחזקה <small>4 רבעונים אחרונים</small></th>
              <th>חשיפה <small>באחוזים</small></th>
              <th>היקף אחזקות <small>בשקלים</small></th>
           </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
           <tr>
              <td colspan="5" class="list-all"><a data-target="#myModal" data-toggle="modal" data-remote="/investments?managing_body=Menora&amp;report_year=2014&amp;report_qurater=3&amp;group_by=instrument_name">כל {{this.plural}}...</a></td>
           </tr>
        </tfoot>
     </table>
  </div>
<div>
