<div class="row" id="portfolio-content-header"></div>
<div class="row" id="portfolio-content-groups">
	<div style="width:100%">
        <div class="spinner" src="images/spinner.gif" style="height:400px;background:url(images/spinner.gif) no-repeat top center;"/>
	</div>
</div>
<div class="row" id="portfolio-content-more"></div>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>
