<div class="row" id="portfolio-content-header"></div>
<div class="row" id="portfolio-content-groups"></div>
<div class="row" id="portfolio-content-more"></div>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>