<div id="further-reading" class="col-xs-12">
	<div id="more">
		{{#if showFunds}}
			<h3 class="link-list-title">עוד בפנסיה פתוחה</h3>
			<h4>קופות של {{managing_body}}</h4>
			<ul class="link-list">
			{{#each funds}}
				<li><a class="table-link" data-group="fund_name" data-value="{{this.fund_name}}">{{this.fund_name}}</a></li><br>
			{{/each}}
			</ul>
		{{/if}} 
	</div>
</div>