<style>
#reports-table-filter div{
  float:right
}
</style>
<div class="row">
  <div class="col-xs-12">
    <div id="report-config" class="row">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="reports-actions" class="row">
    </div>
    <div id="reports-table-filter" class="row">
      <div>שנה</div>
      <div id="table-filter-year"></div>
      <div>רבעון</div>
      <div id="table-filter-quarter"></div>
      <div>גוף מוסדי</div>
      <div id="table-filter-managing-body"></div>
      <div>קופה</div>
      <div id="table-filter-fund"></div>
    </div>
    <div id="reports-table" class="row">
    </div>
<!--
      <form id="upload-report-form">
        <input id="file-select" type="file" name="report" />
        <input type="submit" value="Submit" />
        <button id="">Submit</button>
        <input id="upload-report-submit" type="button" value="Upload" />
      </form>
      -->
  </div>
</div>
