<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="breadcrumbs">
        <ol class="breadcrumb">
          <li>
            <a href="/#/" title="דף הבית">דף הבית</a>
          </li>
          <li>תוצאות חיפוש: '{{searchTerm}}'</li>
        </ol>
      </div>
      <div id="page-title">
        <h2>תוצאות חיפוש</h2>
        <h1>'{{searchTerm}}'</h1>
      </div>
    </div>
  </div>
</div>
