<navigation id="header"></navigation>
<article id="content"></article>
<footer></footer>
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="container">
    		<div class="row" id="here">
    		</div>
    	</div>
    </div>
  </div>
</div>