<div class="static container">
	<div class="row">
		<main class="col-xs-8">
			<section id="פנסיה">
				<h3>פנסיה</h3>
				<p>
				תשלום קצבה חודשי שמקבל החוסך החל ממועד פרישתו מהעבודה למשך כל חייו. גובה הפנסיה תלוי, בין השאר, בהיקף החיסכון שהצליח לצבור החוסך במהלך השנים ובתנאי התוכנית בה הוא חוסך.
				</p>
			</section>
		</main>
		<div class="col-xs-4">
			<ul data-spy="affix" data-offset-top="180" class="toc nav affix-top">
				<li>
					<a href="#פנסיה">פנסיה</a>
				</li>
			</ul>
		</div>
	</div>
</div>